/* this is a css file */
body {
    background-color:rgb(25, 207, 220);
    color: rgb(4, 30, 53);
}
h1,h2,h3 {
    color: rgb(15, 121, 13);
}
h1 {
    color: rgb(8, 60, 5);
}
h2 {
    color: rgb(101, 14, 76);
}
footer p {
    font-weight: bold;
}
ul {
    font-size: 150%; 
}
nav ul {
    font-size: 150%;
}
/* clases */
.web {
    font-style: italic;
}
/* id */
#features {
    font-style: italic;
}
